*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 300vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.1)),url(./images/background_1.jpg);
    background-size: cover;
}
nav{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-weight: 900;
    font-size: 50px;
    color: #fff;
    margin-left: 5%;
    margin-top: 70px;

}
.menu{
    font-weight: bolder;
    margin-top: 70px;
    margin-left: 11%;
}
.menu a{
    letter-spacing: 1px;
    text-decoration: none;
    color:#fff;
    padding: 10px 20px;
    font-size: large;
    font-family: sans-serif;
}
.menu a:hover{
    color: rgb(255, 128, 128);
    border-bottom: 2px solid rgb(255, 128, 128) ;
    border-bottom-width: 2px;
}
.register{
    background-color: red;
    color: white;
    font-weight: 900;
    padding: 10px 15px;
    border-radius: 10px;
    cursor:pointer;
    font-size: large;
    margin-top: 70px;
    font-family: sans-serif;

}
.register:hover{
    background-color: rgb(177, 26, 26);
}
.container{
    width: 90%;
    height: 250vh;
    margin-top: 1%;
    margin-left: 1.5%;
    transform: translate(4%, 4%);
    align-items: center;
    background-color: white;
    border-radius: 30px ;
}
.container_img{
    width: 99.5%;
    height: 100vh;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    margin-top: 5px;
    margin-left: 4px;
}
footer{
    width: 100%;
    height: 45vh;
    background-color: rgb(8, 1, 26);
    margin-top: -13%;
    display: flex;
}
.footer-journeyer1{
    width: 250px;
    height: 100px;
    color: rgb(255, 161, 161);
    font-size: 50px;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-top: 8%;
    margin-left: -23em;
}
.footer-journeyer2{
    width: 500px;
    height: 150px;
    color: rgb(187, 183, 183);
    font-size: 18px;
    margin-top: 10%;
    font-family:Arial, Helvetica, sans-serif ;
    font-weight: 500;
    text-align: justify;
    background-color: pink;
}
.TC{
    color: white;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
}
.footer-services1{
    width: 350px;
    height: 100px;
    color: rgb(255, 161, 161);
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-top: 8%;
    background-color: black;
    margin-left: -60em;
}
.footer-services2{
    width: 500px;
    height: 150px;
    color: white;
    font-size: 18px;
    margin-top: 10%;
    font-family:Arial, Helvetica, sans-serif ;
    font-weight: 500;
    text-align: justify;
    background-color: red;
}
