*{
    background: black;
    color: aliceblue;
    font-size: 60px;
}
.header{
    color: #ffffff;
    width: 100%;
    height: 10vh;
    background: transparent;
    margin-top: -8px;
    display: flex;
    justify-content: space-between;
}
.container1{
    color: #f3804b;
    font-size: 80px;
    width: 101%;
    height: 105vh;
    margin-left: -9px;
    background-image: url(./images_icons2/bg1.png);
    background-position: center;
    background-size: cover;
}